.mybox {
	margin: 40px 0;
	width: 200px;
	height: 200px;
	background-color: red;
}

.input-box-260 {
	width: 260px;
}

@media only screen and (max-width: 800px) {
	.mybox {
		height: 100px;
		width: 100px;
		background-color: green;
	}
}